* {
    margin:0;
    padding:0 ;
    box-sizing: 0;
    font-family:"Roboto", sans-serif; 
    outline: none;

}
body {
    background-color: #8a51fc;
}

.logo  {
    width: 300px;
    margin: 20px auto;
    display: block;

}

main {
    width: 375px;
    background: white;
    border-radius: 20px;
    margin: 0 auto;
    padding: 43px 24px 23px;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select , input{
    background: #FFFF;
    border: 1px solid #BBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;

}
button{
    background: #8a51fc;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #FFFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.6;
}
section{
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow{
    margin: 15px 0;

}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

}
.currency{
    color: #777777;
    font-size: 14px;
}
.currency-value , .currency-value-to-convert{
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}